@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: 'Poppins', sans-serif;
}

#btn{
    color: rgb(255, 255, 255);
    background-color: green;
    font-size: 0.9rem;
    background-image: linear-gradient(rgb(72, 72, 158), rgb(12, 179, 12));

}

.fa-solid fa-right-to-bracket i{
    color:white;
    font-size: 0.7rem;
}

.hover-link ul li a{
    color: rgb(0, 0, 0);
}

.hover-link ul li a:hover{
    color: green;
}
.nav-link::after{
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: green;
    transition: width .3;
}

.nav-link:hover::after{
    width: 100%;
    transition: width .3s;
}


.header-part{
    background-color:rgb(33, 28, 95);
}

.H1 .h1{
    font-family: 'Poppins', sans-serif;
    font-size:4vw;
    color: white;

}

.sp-1{
    color: rgb(157, 23, 175);
    margin-bottom: 0%;
    font-size: 3.5vw;
    font-family: 'Poppins', sans-serif;
}

.rows-1 h5{
    color:  rgb(0, 0, 0);
    font-size: 0.9rem;

}


.rows-1 h5 span{
    color:  rgb(202, 0, 0);
    font-size: 0.9rem;

}

.fa-solid{
    color: rgb(128, 0, 0);
    font-size: 1.2rem;
}

.up{
    color: green;
}

hr{
    color: 10px solid black;
}


.part-2 .part-2s{
    font-size: 20px;

}


.part-2 .part-1s{
    font-size: 35px;

}

.part-2 .part-1s span{
    color: rgb(151, 14, 151);
}


.part-3{
    background-color:rgb(33, 28, 95) ;
}

.part-3s1{
    color: rgb(158, 37, 158);
}


.part3-h1 h1{
    font-size: 16.5px;
}


.part3-h1s h1{
    font-size: 20px;
}
.part3-p1 p{
    font-size: 12px;
}

.part3-2s p{
    font-size: 1px;
}


.card-body .c1{
    font-size: 18px;
    color: white;
    text-align: left;
   

}

.card-body .c2{
    font-size: 13px;
    color: white;
    text-align: left;
}

.card-body .c3{
    color: rgb(24, 109, 6);
    text-decoration: none;
}

.card-body{
    background-color: rgb(25, 20, 97);
    color: rgb(189, 117, 117);
}


.part4 span{
    color: rgb(139, 12, 139);
}



.part5{
    color: rgb(175, 22, 175);
    font-size: 35px;
    text-align: left;
}
.part5-1 p{
    font-size: 16.6px;
    text-align: left;
}
.btn-part5{
    background: linear-gradient(rgba(13, 63, 139, 0.87),rgba(14, 138, 14, 0.815));
    width: auto;
    border-radius: 20px;
    height: 40px;
    font-size: 5px;
    padding: 1.4%;
    margin: 1%;
    text-align: center;
    color: white;
    
}
@media only screen and (max-width: 766px) {
.btn-part5{
width: 45%;
text-align: center;
}
}


.foot-li a{
    color: rgb(151, 146, 146);
    text-decoration: none;
}

.foot-li-t a{
    color: rgb(17, 143, 48);
    text-decoration: none;
}